The purpose of this script is to provide the isotope mixing model described in the methods of Ferguson et al (2024): used for calculating estimates of Mycorrhizal C inputs using 13-C AT% values in my collected soil/plant samples

Import required packages
(in terminal: "pip install pandas")
(in terminal: "pip install openpyxl")

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Import dataframe using pandas

In [2]:
carbon_df = pd.read_csv('C Samples_stats_test.csv')

IMPORTANT: Make sure the excel file is structured according to the following:
Sample (ex: 1); Type (ex: Bulk); Enrichment (ex: Enriched); Treatment (ex: 330); Replicate (ex: 1); Label (ex: 330_1); Î´13C; AT% 13C/12C

Create a subset for each sample type:

In [3]:
# Bulk
bulk_df = carbon_df[carbon_df['Type']=='Bulk']
bulk_df
# Bulk MAOM
bulkMAOM_df = carbon_df[carbon_df['Type']=='Bulk MAOM']
bulkMAOM_df
# Incubated
inc_df = carbon_df[carbon_df['Type']=='Inc']
inc_df
# Incubated MAOM
incMAOM_df = carbon_df[carbon_df['Type']=='Inc MAOM']
incMAOM_df
# Shoot
shoot_df = carbon_df[carbon_df['Type']=='Shoot']
shoot_df

,Sample,Type,Enrichment,Inoculation,Treatment,Replicate,Label,Weight (mg),N2 Area,%N,...,C inputs (model output),Mycorrhizal_C1,Mycorrhizal_C2,Total SOC/MAOC,MAOM (mg/g soil),Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Mycorrhizal C1 = (mg/g soil)
320,322,Shoot,Enriched,NaN,330,1,330_1,4.0,15.8,0.93,...,NaN,NaN,NaN,319.9,NaN,NaN,NaN,NaN,NaN,NaN
321,353,Shoot,Enriched,NaN,330,2,330_2,2.8,22.4,1.39,...,NaN,NaN,NaN,459.4,NaN,NaN,NaN,NaN,NaN,NaN
322,339,Shoot,Enriched,NaN,330,3,330_3,2.6,14.4,1.36,...,NaN,NaN,NaN,471.6,NaN,NaN,NaN,NaN,NaN,NaN
323,377,Shoot,Enriched,NaN,330,4,330_4,3.0,17.6,1.02,...,NaN,NaN,NaN,391.2,NaN,NaN,NaN,NaN,NaN,NaN
324,330,Shoot,Enriched,NaN,330,5,330_5,3.9,8.2,0.51,...,NaN,NaN,NaN,330.4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,372,Shoot,Enriched,NaN,SL1,3,SL1_3,3.7,28.0,1.32,...,NaN,NaN,NaN,468.2,NaN,NaN,NaN,NaN,NaN,NaN
389,335,Shoot,Enriched,NaN,SL1,4,SL1_4,3.5,17.4,1.22,...,NaN,NaN,NaN,450.1,NaN,NaN,NaN,NaN,NaN,NaN
390,324,Shoot,Enriched,NaN,SL1,5,SL1_5,3.3,15.1,1.09,...,NaN,NaN,NaN,372.3,NaN,NaN,NaN,NaN,NaN,NaN
391,329,Shoot,Enriched,NaN,SL1,6,SL1_6,3.7,20.9,1.36,...,NaN,NaN,NaN,427.5,NaN,NaN,NaN,NaN,NaN,NaN
392,390,Shoot,Enriched,NaN,SL1,7,SL1_7,3.1,20.8,1.18,...,NaN,NaN,NaN,446.3,NaN,NaN,NaN,NaN,NaN,NaN

Create a csv file with combined AT% values for each sample type (Shoot, Bulk, Bulk MAOM, Inc, Inc MAOM)
This will make it much easier to call the correct AT values for the mixing model

Set a dataframe to the new csv file

In [5]:
AT_df = pd.read_csv('Mixing_model_AT.csv')

To automate the mixing model, we can use a for loop to call each iterative AT% value

In [8]:
# Ex:
for index, row in AT_df.iterrows():
    print(row["Bulk AT%"], row["Shoot AT%"])

1.07761 1.15166
1.07801 1.13992
1.0776 1.13758
1.07742 1.12379
1.07753 1.19822
1.07773 1.12198
1.0784 1.10519
1.07724 1.10796
1.07682 1.19794
1.0771 1.13953
1.07898 1.25714
1.07739 1.12901
1.07842 1.14853
1.07687 1.10685
1.07644 1.18899
1.076 1.20257
1.07757 1.11489
1.07788 1.1765
1.07643 1.14035
1.07645 1.12599
1.07717 1.11151
1.07684 1.14845
1.07692 1.14675
1.07696 1.1199
1.07721 1.12303
1.07713 1.14921
1.07681 1.12067
1.07913 1.14337
1.07672 1.12693
1.07764 1.15158
1.07881 1.1368
1.07819 1.20898
1.07754 1.14493
1.07849 1.16536
1.07731 1.19508
1.0749 1.15992
1.07642 1.14975
1.0762 1.13968
1.0788 1.16416
1.07748 1.18547
1.0779 1.13107
1.07614 1.19007
1.07702 1.11982
1.07627 1.13938
1.0771 1.13758
1.07806 1.14866
1.07738 1.11
1.08025 1.11611
1.07825 1.19537
1.07683 1.11922
1.07773 1.11833
1.07854 1.15419
1.07822 1.1923
1.07662 1.13479
1.07774 1.19398
1.07772 1.16369
1.0767 1.21716
1.0793 1.12907
1.07721 1.16524
1.07676 1.11739
1.07684 1.14309
1.07695 1.1106
1.07441 1.12276
1.07748 1.15091
1.07729 1.1564
1.07779 1.15983
1.08026 1.17606
1.07939 1.14397
1.07899 1.12543
1.07801 1.17302
1.07685 1.16309
1.07711 1.16838
1.07648 1.15961

Now, use this to produce the mixing model with the Bulk soil AT% values:

In [97]:
## Bulk soil ## ---------------------------------------------------------------------------

# Create an object for the average AT% of your unplanted control for this sample type
unplanted_AT = 1.0759829 # Edit this depending on the sample type

# Create an empty list to add the calculated values to
c_input = [] 

# Use .iterrows() to iterate through each row in the list to call each row's AT% values
for index, row in AT_df.iterrows(): 
    # Plug each row's AT% values into the mixing model equation
    c_input_value = (row["Bulk AT%"] - unplanted_AT)/(row["Shoot AT%"] - unplanted_AT) # Edit this depending on the sample type
    # Add each iterative calculation to the empty list created above
    c_input.append(c_input_value) 

# Create a dataframe from your completed list
c_input_df = pd.DataFrame(c_input, columns = ["C input"]) 
# Save to an excel file
c_input_df.to_excel("Bulk_C_Inputs.xlsx", index = False) # Edit this depending on the sample type

Repeat with each other soil sample type:

In [9]:
## Bulk MAOM soil ## ---------------------------------------------------------------------------

# Create an object for the average AT% of your unplanted control for this sample type
unplanted_AT = 1.075851954 # Edit this depending on the sample type

# Create an empty list to add the calculated values to
c_input = [] 

# Use .iterrows() to iterate through each row in the list to call each row's AT% values
for index, row in AT_df.iterrows(): 
    # Plug each row's AT% values into the mixing model equation
    c_input_value = (row["Bulk MAOM AT%"] - unplanted_AT)/(row["Shoot AT%"] - unplanted_AT) # Edit this depending on the sample type
    # Add each iterative calculation to the empty list created above
    c_input.append(c_input_value) 

# Create a dataframe from your completed list
c_input_df = pd.DataFrame(c_input, columns = ["C input"]) 
# Save to an excel file
c_input_df.to_excel("BulkMAOM_C_Inputs.xlsx", index = False) # Edit this depending on the sample type

In [98]:
## Incubated soil ## ---------------------------------------------------------------------------

# Create an object for the average AT% of your unplanted control for this sample type
unplanted_AT = 1.075878571 # Edit this depending on the sample type

# Create an empty list to add the calculated values to
c_input = [] 

# Use .iterrows() to iterate through each row in the list to call each row's AT% values
for index, row in AT_df.iterrows(): 
    # Plug each row's AT% values into the mixing model equation
    c_input_value = (row["Inc AT%"] - unplanted_AT)/(row["Shoot AT%"] - unplanted_AT) # Edit this depending on the sample type
    # Add each iterative calculation to the empty list created above
    c_input.append(c_input_value) 

# Create a dataframe from your completed list
c_input_df = pd.DataFrame(c_input, columns = ["C input"]) 
# Save to an excel file
c_input_df.to_excel("Inc_C_Inputs.xlsx", index = False) # Edit this depending on the sample type

In [99]:
## Incubated MAOM soil ## ---------------------------------------------------------------------------

# Create an object for the average AT% of your unplanted control for this sample type
unplanted_AT = 1.07559 # Edit this depending on the sample type

# Create an empty list to add the calculated values to
c_input = [] 

# Use .iterrows() to iterate through each row in the list to call each row's AT% values
for index, row in AT_df.iterrows(): 
    # Plug each row's AT% values into the mixing model equation
    c_input_value = (row["Inc MAOM AT%"] - unplanted_AT)/(row["Shoot AT%"] - unplanted_AT) # Edit this depending on the sample type
    # Add each iterative calculation to the empty list created above
    c_input.append(c_input_value) 

# Create a dataframe from your completed list
c_input_df = pd.DataFrame(c_input, columns = ["C input"]) 
# Save to an excel file
c_input_df.to_excel("IncMAOM_C_Inputs.xlsx", index = False) # Edit this depending on the sample type

Once each excel file has been saved with the calculated values, add them each to your data.

Remember: the code runs the data in order of the list, so it is imperative that all input data is in the same order. To do this, I organized all data via label name in alphabetical order in excel, before running the code